doctype
html(lang=config.language)
    head
        include head
        block meta
    body
        .header
            a.logo-link(href=url_for())
                img(src=theme.logo)
            h1=config.title
            p=config.subtitle
            include nav    
        .wrap
            section.container
                block container
        .wrap
            footer
                block pagination
                block copyright
        include scripts
